@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 20px;
	background: teal;
	color: #fff;
	letter-spacing: 0.5px;
}

main {
	flex: 1;
	padding: 20px 200px;
}
.title-add {
	padding: 10px 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main table {
	width: 100%;
	border-collapse: collapse;
}
main table,
main table td,
main table th {
	border: 2px solid rgba(0, 128, 128, 0.1);
}
main table th {
	background: rgba(0, 128, 128, 0.1);
}
main table td,
main table th {
	padding: 10px;
	text-align: left;
}

.btn-row {
	width: 100px;
}
.id-row {
	width: 50px;
}
.btn-add,
.btn-edit,
.btn-delete {
	width: 80px;
	padding: 8px 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: all 0.1s linear;
}
.btn-add ion-icon,
.btn-edit ion-icon,
.btn-delete ion-icon {
	margin-right: 5px;
}

.btn-edit {
	background: #1e90ff;
}
.btn-delete {
	background: #ff6347;
}

.btn-add {
	width: 140px;
	background: #5cb85c;
}

.btn-edit:hover {
	background: #007af2;
}
.btn-delete:hover {
	background: #ff3916;
}
.btn-add:hover {
	background: #4bad4b;
}

.btn-edit:active {
	background: #0065c7;
}
.btn-delete:active {
	background: #e42200;
}

.btn-add:active {
	background: #3a863a;
}
