@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #b4b4b4;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a1a1a1;
}

::-webkit-scrollbar-thumb:active {
	background-color: #868686;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	width: 100%;
	padding: 8px 5px;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: all 0.1s linear;
	background: #008080;
}
button:hover {
	background: #047171;
}
button:active {
	background: #055a5a;
}

input {
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
	border: 1.5px solid rgba(0, 128, 128, 0.4);
}

input:focus {
	outline: none;
	border: 1.5px solid rgb(5, 96, 96);
}
.error {
	color: rgb(255, 77, 46);
	text-align: center;
	padding: 3px 0;
	font-weight: 600;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background: teal;
	color: #fff;
	letter-spacing: 0.5px;
}
nav div {
	display: flex;
	align-items: center;
}
nav img {
	height: 30px;
	margin-right: 20px;
}

main {
	flex: 1;
	padding: 20px 150px;
}
.title-add {
	padding: 10px 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main table {
	width: 100%;
	border-collapse: collapse;
}
main table,
main table td,
main table th {
	border: 2px solid rgba(0, 128, 128, 0.1);
}

main table th {
	background: rgba(0, 128, 128, 0.1);
	color: rgb(69, 69, 69);
}
main table td,
main table th {
	padding: 10px;
	text-align: left;
}

.btn-row {
	width: 100px;
}
.id-row {
	width: 50px;
}
.btn-add,
.btn-edit,
.btn-delete {
	width: 80px;
}
.btn-add ion-icon,
.btn-edit ion-icon,
.btn-delete ion-icon {
	margin-right: 5px;
}

.btn-edit {
	background: #1e90ff;
}
.btn-delete {
	background: #ff6347;
}

.btn-add {
	width: 140px;
	background: #5cb85c;
}
.btn-edit:hover {
	background: #137ae0;
}

.btn-delete:hover {
	background: #ff3916;
}
.btn-add:hover {
	background: #4bad4b;
}
.btn-edit:active {
	background: #1378dc;
}
.btn-delete:active {
	background: #e42200;
}

.btn-add:active {
	background: #3a863a;
}
.contacts {
	overflow-x: auto;
}

.no-contacts p {
	text-align: center;
	padding: 15px 0;
	font-weight: 600;
	letter-spacing: 0.4px;
	color: rgba(0, 128, 128, 0.4);
}

/*
	newcontact.php
*/

.create-form {
	width: 350px;
	margin: 0 auto;
}
.create-form div {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.create-form button {
	margin: 20px 0 0;
}

.create-form div label {
	font-size: 14px;
	font-weight: 600;
	color: teal;
	margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
	main {
		padding: 20px 50px;
	}
}
@media only screen and (max-width: 780px) {
	main {
		padding: 20px;
	}
}
